@charset "UTF-8";

/*
    Tudo que em HTML é id, em CSS é #
    Tudo que em HTML é class, em CSS é .
*/

body {
    background-color: rgb(216, 255, 214);
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: rgb(4,109,0);
}
h1#principal {
    text-align: center;
    background-color: rgb(4,109,0);
    color: white;
}
h2{
    color: rgb(73,109,71);
}
.basico {
    color: rgb(64, 119, 61);
}
.intermediario {
    color: rgb(113, 119, 61);
}
.avancado {
    color: rgb(119, 61, 61);
}
.destaque {
    background-color: rgba(188, 202, 92, 0.616);
}